<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public\css\starplus\login-style.css" type="text/css">
    <link rel="shortcut icon" href="/public/img/starplus/star.ico" type="image/x-icon">
    <title>Sucesso!</title>
</head>
<body>
    <header>
        <nav class="menu">
            <div class="btn-entrar">
                <a href="starplus.html">VOLTAR</a>
            </div>
            <div class="btn-entrar">
                <a href="https://github.com/Ptedx/star-plus-back-end-integration">BAIXAR</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="principal">
            <div>
                <img src="/public/img/starplus/starplus.svg" alt="star plus logo" width="180px">
                <h1>Registrado com sucesso!</h1>
                <div class="w-100 d-flex-around">
                    <a href="starplus.html" class="btn w-40" value="VOLTAR">VOLTAR</a>
                    <a href="https://github.com/Ptedx/star-plus-back-end-integration" class="btn w-40" value="VOLTAR">BAIXAR</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>