<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Plus</title>
    <link rel="stylesheet" href="/public\css\starplus\login-style.css" type="text/css">
    <link rel="shortcut icon" href="/public/img/starplus/star.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/starplus/avenir_ff/AvenirLTStd-Black.otf">
</head>

<body>
    <header>
        <nav class="menu">
            <div class="btn-entrar">
                <a href="starplus.html">VOLTAR</a>
            </div>
            <div class="btn-entrar">
                <a href="https://github.com/Ptedx/star-plus-back-end-integration">BAIXAR</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="logo">
            <img src="/public/img/starplus/starplus.svg" alt="star plus logo" width="180px">
        </section>
        <section class="inicio">
            <form action="starplus-login-success.html" method="GET">
                <h2>Use o seu e-mail para entrar</h2>
                <fieldset>
                    <legend>email</legend>
                    <span>
                        <input type="email" name="email" id='email' placeholder="E-mail" required>
                    </span>
                </fieldset>
                <h2>Agora use sua senha</h2>
                <fieldset>
                    <legend>email</legend>
                    <span>
                        <input type="password" name="senha" id='senha' placeholder="Senha" required>
                    </span>
                </fieldset>
                <input class="btn" type="submit" value="CONTINUAR">
            </form>
            <p class="paragrafo">Não tem StarPlus?</p>
            <a href="starplus-register.html">Assine</a>
        </section>
    </main>
</body>

</html>