<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/public/css/the-luxury/bootstrap.css">

    <!-- Swiper CSS-->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <title>The Luxury</title>
    <link rel="shortcut icon" href="/public/img/the-luxury/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
        <a class="navbar-brand" href="#"><img class="logo-taxi" src="/public/img/the-luxury/Logo-taxi.png" alt="logo-taxi"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="the-luxury.html">Voltar</a>
            <a class="nav-item nav-link" href="https://github.com/Ptedx/taxi-service">BAIXAR</a>

          </div>
        </div>
    </nav>
    <main class="response-main container d-flex-center align-items-center">
            <div class="d-flex-center w-100 h-100 flex-column align-items-center">
                <a class="navbar-brand" href="#"><img class="logo-taxi" src="/public/img/the-luxury/Logo-taxi.png" alt="logo-taxi"></a>
                <h1 class="observeMe">Cadstrado com sucesso!</h1>
                <div class="buttons w-100 d-flex justify-content-around">
                    <div class="btn-form">
                        <div class="light"></div>
                        <a href="the-luxury.html">Voltar</a>
                    </div>
                    <div class="btn-form">
                        <div class="light"></div>
                        <a href="https://github.com/Ptedx/taxi-service">Baixar projeto</a>
                    </div>
                </div>
            </div>
    </main>
    <script src="/public/js/the-luxury/opacity-images.js"></script>
</body>
</html>